<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289036679954-7ji45l3e14pmbjdtapeek4e28k59v7ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289036679954-7ji45l3e14pmbjdtapeek4e28k59v7ed</string>
	<key>API_KEY</key>
	<string>AIzaSyAdaFdKc1qE8R3-dOnl-GDPL76JHhwtzvM</string>
	<key>GCM_SENDER_ID</key>
	<string>289036679954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>essoun.stephen.pillset</string>
	<key>PROJECT_ID</key>
	<string>pill-set-reminder</string>
	<key>STORAGE_BUCKET</key>
	<string>pill-set-reminder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289036679954:ios:f08619179df95586b6d1cb</string>
</dict>
</plist>